<%- include('includes/header') %>

<link rel="stylesheet" href="/css/menu.css" />
<body>
  <div id="main_container">
    <div class="group_name">
      <ul class="nav justify-content-center">
        <li class="nav-item pointer">
          <a href="/resto" class="nav-link active">Home</a>
        </li>
        <li class="nav-item pointer">
          <a href="/resto/products/menu" class="nav-link active">MyResto</a>
        </li>
        <li class="nav-item pointer">
          <a href="/resto/logout" class="nav-link active">Logout</a>
        </li>
      </ul>
    </div>

    <div class="restaurant_menu_frame">
      <div class="restaurant_container">
        <div class="resto_table">
          <span class="new_dish_txt"> Barcha Restaurantlar Ro'yxati </span>
          <table class="table table-sm table-hover">
            <thead class="thead-light">
              <th scope="col">T/r</th>
              <th scope="col">Restaurant nomi</th>
              <th scope="col">Restaurant telefon raqami</th>
              <th scope="col">Restaurant top</th>
              <th scope="col">Restaurant holati</th>
            </thead>
            <tbody class="bg-white">
              <td>1</td>
              <td>Doda</td>
              <td>998954464549</td>
              <td style="width: 13%">
                <label class="switch">
                  <input type="checkbox" class="mb_top" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td style="width: 13%">
                <select class="spec_select mb_status" name="" id="">
                  <option value="ONPAUSE">ONPAUSE</option>
                  <option value="ACTIVE">ACTIVE</option>
                  <option value="DELETED">DELETED</option>
                </select>
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('includes/footer') %>
