<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form
    action="/resto/sign-up"
    enctype="multipart/form-data"
    method="POST"
    class="login_container"
  >
    <div class="login_frame" style="width: 650px">
      <div class="login_top">
        <span>Ro'yxatdan o'tish</span>
        <div>
          Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yxatdan allaqachon o'tganmisiz?
          <a href="/resto/signup" style="color: #6440fb">Ro'yxatdan o'tish</a>
        </p>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Foydalanuvchi ismi:</label>
          <input
            type="text"
            name="mb_nick"
            placeholder="Foydalanuvchining ismi"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Telefon raqam:</label>
          <input
            type="password"
            name="mb_phone"
            placeholder="Telefon raqam"
            value=""
            required
          />
        </div>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Password</label>
          <input
            type="password"
            name="mb_password"
            placeholder="Passwordni kiriting"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Passwordni qayta kiriting</label>
          <input
            type="password"
            name="mb_confirm_password"
            placeholder="Passwordni tasdiqlash"
            value=""
            required
          />
        </div>
      </div>
      <div class="sign_input_frame">
        <div class="media_frame">
          <img src="/images/restaurant.webp" alt="" class="upload_img_frame" />
          <div class="upload_container">
            <span class="media_text">Taom rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                class="upload_name"
                value="Rasmni tanlang"
                disabled="disabled"
              />
              <label for="">Rasmni Yuklash</label>
              <input
                type="file"
                id="input_file"
                name="restaurant_img"
                placeholder="Rasmni yuklash"
                class="upload-hidden form-control-file restaurant_img"
              />
            </div>
            <p class="thumbnail_desc">
              Oshxona rasmingizni bu yerga yuklang. <br />Muhim
              ko'rsatmalar:.jpg, .jpeg, yoki .png. <br />
              rasmda matn yo'q bo'lishi shart!
            </p>
          </div>
        </div>
      </div>
      <button type="submit" name="signup" class="btn btn-primary login_btn">
        Ro'yxatdan o'tish
      </button>
    </div>
  </form>
</body>
<%- include('includes/footer') %>
