<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form
    onsubmit="return validateSignUpForm()"
    action="/resto/sign-up"
    enctype="multipart/form-data"
    method="POST"
    class="login_container"
  >
    <div class="login_frame" style="width: 650px">
      <div class="login_top">
        <span>Ro'yxatdan o'tish</span>
        <div>
          Bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          Ro'yxatdan allaqachon o'tganmisiz?
          <a href="/resto/sign-up" style="color: #6440fb">Ro'yxatdan o'tish</a>
        </p>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Foydalanuvchi ismi:</label>
          <input
            type="text"
            name="mb_nick"
            class="mb_nick"
            placeholder="Foydalanuvchining ismi"
            value=""
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Telefon raqam:</label>
          <input
            type="password"
            name="mb_phone"
            class="mb_phone"
            placeholder="Telefon raqam"
            value=""
          />
        </div>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Password</label>
          <input
            type="password"
            name="mb_password"
            class="mb_password"
            placeholder="Passwordni kiriting"
            value=""
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Passwordni qayta kiriting</label>
          <input
            type="password"
            name="mb_confirm_password"
            class="mb_confirm_password"
            placeholder="Passwordni tasdiqlash"
            value=""
          />
        </div>
      </div>
      <div class="sign_input_frame">
        <div class="media_frame">
          <img src="/images/restaurant.webp" alt="" class="upload_img_frame" />
          <div class="upload_container">
            <span class="media_text">Taom rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                class="upload_name"
                value="Rasmni tanlang"
                disabled="disabled"
              />
              <label for="input_file">Rasmni Yuklash</label>
              <input
                type="file"
                id="input_file"
                name="restaurant_img"
                class="upload-hidden form-control-file restaurant_img"
              />
            </div>
            <p class="thumbnail_desc">
              Oshxona rasmingizni bu yerga yuklang. <br />Muhim ko'rsatmalar:
              .jpg, .jpeg, yoki .png. <br />
              rasmda matn yo'q bo'lishi shart!
            </p>
          </div>
        </div>
      </div>
      <button type="submit" name="signup" class="btn btn-primary login_btn">
        Ro'yxatdan o'tish
      </button>
    </div>
  </form>
</body>
<script>
  $(function () {
    let fileTarget = $(".filebox .upload-hidden");
    let filename = "";
    fileTarget.on("change", function () {
      if (window.FileReader) {
        console.log("red", window);
        const uploading_file = $(this)[0].files[0];
        console.log(uploading_file);
        const fileType = uploading_file["type"];
        const validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
        if (!validImageTypes.includes(fileType)) {
          alert("Sorry, only JPG, JPEG & PNG files are allowed.");
        } else {
          if (uploading_file) {
            console.log(URL.createObjectURL(uploading_file));
            $(".upload_img_frame")
              .attr("src", URL.createObjectURL(uploading_file))
              .addClass("success");
          }
          filename = uploading_file.name;
        }
      }
      $(this).siblings(".upload_name").val(filename);
    });
  });

  function validateSignUpForm() {
    const mb_nick = $(".mb_nick").val();
    const mb_phone = $(".mb_phone").val();
    const mb_password = $(".mb_password").val();
    const mb_confirm_password = $(".mb_confirm_password").val();
    const restaurant_img = $(".restaurant_img").get(0).files[0] ?? null;

    if (
      mb_nick == "" ||
      mb_phone == "" ||
      mb_phone == "" ||
      mb_confirm_password == ""
    ) {
      alert("Iltimos hamma malumotlarni kiriting");
      return false;
    } else if (mb_confirm_password != mb_password) {
      alert("Iltimos passwordni to'g'ri kiriting");
      return false;
    }
    if (!restaurant_img) {
      alert("Iltimos rasm yuklang");
      return false;
    }
    return true;
  }
</script>
<%- include('includes/footer') %>
