body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2c261e;
  position: absolute;
  height: 100vh;
}
.group_name {
  position: absolute;
  z-index: 33333;
  font-family: monospace;
  font-size: xx-large;
  top: 1%;
  color: #efefef;
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px;
  }
}
